In [ ]:
! pip install neuralprophet

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: neuralprophet in /usr/local/lib/python3.7/dist-packages (0.3.2)
Requirement already satisfied: LunarCalendar>=0.0.9 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (0.0.9)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (3.2.2)
Requirement already satisfied: python-dateutil>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (2.8.2)
Requirement already satisfied: pandas>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (1.3.5)
Requirement already satisfied: torch>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (1.12.1+cu113)
Requirement already satisfied: convertdate>=2.1.2 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (2.4.0)
Requirement already satisfied: dataclasses>=0.6 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (0.6)
Requirement already satisfied: holidays>=0.11.3.1 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (0.14.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (1.21.6)
Requirement already satisfied: torch-lr-finder>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (0.2.1)
Requirement already satisfied: ipywidgets>=7.5.1 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (8.0.1)
Requirement already satisfied: tqdm>=4.50.2 in /usr/local/lib/python3.7/dist-packages (from neuralprophet) (4.64.0)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.1.2->neuralprophet) (0.5.11)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.7/dist-packages (from holidays>=0.11.3.1->neuralprophet) (0.2.1)
Requirement already satisfied: hijri-converter in /usr/local/lib/python3.7/dist-packages (from holidays>=0.11.3.1->neuralprophet) (2.2.4)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->neuralprophet) (5.1.1)
Requirement already satisfied: widgetsnbextension~=4.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->neuralprophet) (4.0.1)
Requirement already satisfied: jupyterlab-widgets~=3.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->neuralprophet) (3.0.1)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->neuralprophet) (5.3.4)
Requirement already satisfied: ipython>=6.1.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->neuralprophet) (7.9.0)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->neuralprophet) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->neuralprophet) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->neuralprophet) (57.4.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->neuralprophet) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->neuralprophet) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->neuralprophet) (2.0.10)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->neuralprophet) (0.2.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->neuralprophet) (4.8.0)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.7/dist-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->neuralprophet) (0.18.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->neuralprophet) (2.6.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython>=6.1.0->ipywidgets>=7.5.1->neuralprophet) (0.8.3)
Requirement already satisfied: ephem>=3.7.5.3 in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->neuralprophet) (4.1.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->neuralprophet) (2022.2.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->neuralprophet) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->neuralprophet) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->neuralprophet) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.0.0->neuralprophet) (4.1.1)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=6.1.0->ipywidgets>=7.5.1->neuralprophet) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=6.1.0->ipywidgets>=7.5.1->neuralprophet) (0.2.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from torch-lr-finder>=0.2.1->neuralprophet) (21.3)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.5.1->neuralprophet) (23.2.1)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.5.1->neuralprophet) (4.11.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=6.1.0->ipywidgets>=7.5.1->neuralprophet) (0.7.0)

In [ ]:
import pandas as pd
from neuralprophet import NeuralProphet, set_log_level
import plotly.express as px
import numpy as np
set_log_level("ERROR")

In [ ]:
df = pd.read_csv("/content/OO시.csv")

In [ ]:
df.head()

,날짜,평당가,연령평균,가구수,사설학원수(개),학업성취도,매매회전율,미분양수,입주물량,강남접근성점수,...,미국금리종가,epu,선도50지수,주택가격전망CSI,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,2008.01,270.7,4.8,221896,1543,77.8,0.295945,0,268,4,...,3.597,135.080994,33.2,107,NaN,NaN,NaN,NaN,NaN,NaN
1,2008.02,415.1,3.6,221819,1543,77.8,0.530074,0,268,4,...,3.519,95.595810,33.3,107,NaN,NaN,NaN,NaN,NaN,NaN
2,2008.03,440.0,3.2,221606,1543,77.8,0.447394,0,268,4,...,3.421,87.944527,33.6,107,NaN,NaN,NaN,NaN,NaN,NaN
3,2008.04,408.8,3.3,221506,1543,77.8,0.581072,0,268,4,...,3.734,74.095062,33.9,89,NaN,NaN,NaN,NaN,NaN,NaN
4,2008.05,427.5,3.6,221539,1543,77.8,0.560982,0,268,4,...,4.067,89.214928,34.3,89,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.평당가.describe()

count     173.000000
mean      818.209827
std       373.457589
min       270.700000
25%       586.200000
50%       685.900000
75%       947.500000
max      1900.200000
Name: 평당가, dtype: float64

In [ ]:
df.columns

Index(['날짜', '평당가', '연령평균', '가구수', '사설학원수(개)', '학업성취도', '매매회전율', '미분양수',
       '입주물량', '강남접근성점수', '강남자가용점수', 'GTX', '신도시', 'LTV', 'UIG', '출퇴근량',
       '대기업수', '매수우위지수', '가계대출금리', '미국금리종가', 'epu', '선도50지수', '주택가격전망CSI',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28'],
      dtype='object')

In [ ]:
df1=df.drop( ['Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28'],axis=1)
df1.columns

Index(['날짜', '평당가', '연령평균', '가구수', '사설학원수(개)', '학업성취도', '매매회전율', '미분양수',
       '입주물량', '강남접근성점수', '강남자가용점수', 'GTX', '신도시', 'LTV', 'UIG', '출퇴근량',
       '대기업수', '매수우위지수', '가계대출금리', '미국금리종가', 'epu', '선도50지수', '주택가격전망CSI'],
      dtype='object')

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 23 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   날짜         173 non-null    float64
 1   평당가        173 non-null    float64
 2   연령평균       173 non-null    float64
 3   가구수        173 non-null    int64
 4   사설학원수(개)   173 non-null    int64
 5   학업성취도      173 non-null    float64
 6   매매회전율      173 non-null    float64
 7   미분양수       173 non-null    int64
 8   입주물량       173 non-null    int64
 9   강남접근성점수    173 non-null    int64
 10  강남자가용점수    173 non-null    int64
 11  GTX        173 non-null    int64
 12  신도시        173 non-null    int64
 13  LTV        173 non-null    int64
 14  UIG        173 non-null    float64
 15  출퇴근량       173 non-null    int64
 16  대기업수       173 non-null    int64
 17  매수우위지수     170 non-null    float64
 18  가계대출금리     173 non-null    float64
 19  미국금리종가     173 non-null    float64
 20  epu        173 non-null    float64
 21  선도50지수     173 non-null    float64
 22  주택가격전망CSI  173 non-null    int64
dtypes: float64(11), int64(12)
memory usage: 31.2 KB

In [ ]:
df1['ds'] = pd.to_datetime(df1['날짜'].astype(str), format='%Y.%m')

In [ ]:
df1

,날짜,평당가,연령평균,가구수,사설학원수(개),학업성취도,매매회전율,미분양수,입주물량,강남접근성점수,...,UIG,출퇴근량,대기업수,매수우위지수,가계대출금리,미국금리종가,epu,선도50지수,주택가격전망CSI,ds
0,2008.01,270.7,4.8,221896,1543,77.8,0.295945,0,268,4,...,2.83,141393,13,NaN,7.21,3.597,135.080994,33.2,107,2008-01-01
1,2008.02,415.1,3.6,221819,1543,77.8,0.530074,0,268,4,...,2.78,141393,13,NaN,6.95,3.519,95.595810,33.3,107,2008-02-01
2,2008.03,440.0,3.2,221606,1543,77.8,0.447394,0,268,4,...,2.80,141393,13,NaN,6.89,3.421,87.944527,33.6,107,2008-03-01
3,2008.04,408.8,3.3,221506,1543,77.8,0.581072,0,268,4,...,2.79,141393,13,59.5,6.99,3.734,74.095062,33.9,89,2008-04-01
4,2008.05,427.5,3.6,221539,1543,77.8,0.560982,0,268,4,...,2.84,141393,13,60.3,6.95,4.067,89.214928,34.3,89,2008-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,2022.01,1900.2,3.8,233706,1897,77.8,0.149538,0,0,5,...,4.67,128860,28,51.1,3.91,1.784,228.802427,100.0,100,2022-01-01
169,2022.02,1653.9,1.5,233720,1899,77.8,0.075534,0,0,5,...,4.75,128860,28,45.2,3.93,1.822,270.153319,100.1,98,2022-02-01
170,2022.03,1680.3,3.4,233587,1901,77.8,0.124530,0,166,5,...,4.90,128860,28,43.6,3.98,2.345,364.996204,100.4,105,2022-03-01
171,2022.04,1682.8,3.1,233445,1904,77.8,0.171994,0,0,5,...,4.87,128860,28,43.3,4.05,2.938,333.120000,100.7,115,2022-04-01
172,2022.05,1592.8,3.7,233285,1906,77.8,0.159745,0,0,5,...,4.88,128860,28,38.1,4.14,2.849,336.720000,101.4,111,2022-05-01

In [ ]:
df2=df1.drop( ['날짜'],axis=1)
df2

,평당가,연령평균,가구수,사설학원수(개),학업성취도,매매회전율,미분양수,입주물량,강남접근성점수,강남자가용점수,...,UIG,출퇴근량,대기업수,매수우위지수,가계대출금리,미국금리종가,epu,선도50지수,주택가격전망CSI,ds
0,270.7,4.8,221896,1543,77.8,0.295945,0,268,4,3,...,2.83,141393,13,NaN,7.21,3.597,135.080994,33.2,107,2008-01-01
1,415.1,3.6,221819,1543,77.8,0.530074,0,268,4,3,...,2.78,141393,13,NaN,6.95,3.519,95.595810,33.3,107,2008-02-01
2,440.0,3.2,221606,1543,77.8,0.447394,0,268,4,3,...,2.80,141393,13,NaN,6.89,3.421,87.944527,33.6,107,2008-03-01
3,408.8,3.3,221506,1543,77.8,0.581072,0,268,4,3,...,2.79,141393,13,59.5,6.99,3.734,74.095062,33.9,89,2008-04-01
4,427.5,3.6,221539,1543,77.8,0.560982,0,268,4,3,...,2.84,141393,13,60.3,6.95,4.067,89.214928,34.3,89,2008-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,1900.2,3.8,233706,1897,77.8,0.149538,0,0,5,3,...,4.67,128860,28,51.1,3.91,1.784,228.802427,100.0,100,2022-01-01
169,1653.9,1.5,233720,1899,77.8,0.075534,0,0,5,3,...,4.75,128860,28,45.2,3.93,1.822,270.153319,100.1,98,2022-02-01
170,1680.3,3.4,233587,1901,77.8,0.124530,0,166,5,3,...,4.90,128860,28,43.6,3.98,2.345,364.996204,100.4,105,2022-03-01
171,1682.8,3.1,233445,1904,77.8,0.171994,0,0,5,3,...,4.87,128860,28,43.3,4.05,2.938,333.120000,100.7,115,2022-04-01
172,1592.8,3.7,233285,1906,77.8,0.159745,0,0,5,3,...,4.88,128860,28,38.1,4.14,2.849,336.720000,101.4,111,2022-05-01

In [ ]:
df2 = df2.rename(columns={"평당가":"y","사설학원수(개)":"사설학원수"})

In [ ]:
df2

,y,연령평균,가구수,사설학원수,학업성취도,매매회전율,미분양수,입주물량,강남접근성점수,강남자가용점수,...,UIG,출퇴근량,대기업수,매수우위지수,가계대출금리,미국금리종가,epu,선도50지수,주택가격전망CSI,ds
0,270.7,4.8,221896,1543,77.8,0.295945,0,268,4,3,...,2.83,141393,13,NaN,7.21,3.597,135.080994,33.2,107,2008-01-01
1,415.1,3.6,221819,1543,77.8,0.530074,0,268,4,3,...,2.78,141393,13,NaN,6.95,3.519,95.595810,33.3,107,2008-02-01
2,440.0,3.2,221606,1543,77.8,0.447394,0,268,4,3,...,2.80,141393,13,NaN,6.89,3.421,87.944527,33.6,107,2008-03-01
3,408.8,3.3,221506,1543,77.8,0.581072,0,268,4,3,...,2.79,141393,13,59.5,6.99,3.734,74.095062,33.9,89,2008-04-01
4,427.5,3.6,221539,1543,77.8,0.560982,0,268,4,3,...,2.84,141393,13,60.3,6.95,4.067,89.214928,34.3,89,2008-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,1900.2,3.8,233706,1897,77.8,0.149538,0,0,5,3,...,4.67,128860,28,51.1,3.91,1.784,228.802427,100.0,100,2022-01-01
169,1653.9,1.5,233720,1899,77.8,0.075534,0,0,5,3,...,4.75,128860,28,45.2,3.93,1.822,270.153319,100.1,98,2022-02-01
170,1680.3,3.4,233587,1901,77.8,0.124530,0,166,5,3,...,4.90,128860,28,43.6,3.98,2.345,364.996204,100.4,105,2022-03-01
171,1682.8,3.1,233445,1904,77.8,0.171994,0,0,5,3,...,4.87,128860,28,43.3,4.05,2.938,333.120000,100.7,115,2022-04-01
172,1592.8,3.7,233285,1906,77.8,0.159745,0,0,5,3,...,4.88,128860,28,38.1,4.14,2.849,336.720000,101.4,111,2022-05-01

In [ ]:
#X변수 정의
x_col_lst = ['사설학원수', '매수우위지수', '입주물량', '가계대출금리', 'UIG', '출퇴근량']

#Y변수 정의
y_col_lst = ['y']

In [ ]:
X=df2[x_col_lst]
Y=df2[y_col_lst]

In [ ]:
X_diff=X.diff()
X_diff.columns=X.columns+'_diff'

X_diff2=X.diff(periods=2)
X_diff2.columns=X.columns+'_diff2'

#Y변수들에 대한 lag 데이터 생성 (2 lag 까지만)
Y_diff=Y.diff()
Y_diff.columns=Y.columns+'_diff'

Y_diff2=Y.diff(periods=2)
Y_diff2.columns=Y.columns+'_diff2'

#X데이터 결합
X=pd.concat([X,X_diff,X_diff2],axis=1)

#Y데이터 결합
Y=pd.concat([Y,Y_diff,Y_diff2],axis=1)

#lag 데이터를 사용하므로 1행 ~ 2행 제거
#X=X.drop([0,1],axis=0)
#Y=Y.drop([0,1],axis=0)

#전체 데이터셋 생성
df2_pret=pd.concat([df2['ds'][2:],X,Y],axis=1)
df2_pret=df2_pret.reset_index(drop=True)
df2_pret

,ds,사설학원수,매수우위지수,입주물량,가계대출금리,UIG,출퇴근량,사설학원수_diff,매수우위지수_diff,입주물량_diff,...,출퇴근량_diff,사설학원수_diff2,매수우위지수_diff2,입주물량_diff2,가계대출금리_diff2,UIG_diff2,출퇴근량_diff2,y,y_diff,y_diff2
0,NaT,1543,NaN,268,7.21,2.83,141393,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,270.7,NaN,NaN
1,NaT,1543,NaN,268,6.95,2.78,141393,0.0,NaN,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,415.1,144.4,NaN
2,2008-03-01,1543,NaN,268,6.89,2.80,141393,0.0,NaN,0.0,...,0.0,0.0,NaN,0.0,-0.32,-0.03,0.0,440.0,24.9,169.3
3,2008-04-01,1543,59.5,268,6.99,2.79,141393,0.0,NaN,0.0,...,0.0,0.0,NaN,0.0,0.04,0.01,0.0,408.8,-31.2,-6.3
4,2008-05-01,1543,60.3,268,6.95,2.84,141393,0.0,0.8,0.0,...,0.0,0.0,NaN,0.0,0.06,0.04,0.0,427.5,18.7,-12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,2022-01-01,1897,51.1,0,3.91,4.67,128860,3.0,-11.2,0.0,...,0.0,3.0,-25.7,-1033.0,0.30,0.34,0.0,1900.2,128.7,336.5
169,2022-02-01,1899,45.2,0,3.93,4.75,128860,2.0,-5.9,0.0,...,0.0,5.0,-17.1,0.0,0.27,0.31,0.0,1653.9,-246.3,-117.6
170,2022-03-01,1901,43.6,166,3.98,4.90,128860,2.0,-1.6,166.0,...,0.0,4.0,-7.5,166.0,0.07,0.23,0.0,1680.3,26.4,-219.9
171,2022-04-01,1904,43.3,0,4.05,4.87,128860,3.0,-0.3,-166.0,...,0.0,5.0,-1.9,0.0,0.12,0.12,0.0,1682.8,2.5,28.9
172,2022-05-01,1906,38.1,0,4.14,4.88,128860,2.0,-5.2,0.0,...,0.0,5.0,-5.5,-166.0,0.16,-0.02,0.0,1592.8,-90.0,-87.5

In [ ]:
#train test split
cutoff = "2022-01-01" #데이터 분할 기준
train = df2_pret[df2_pret['ds']<cutoff]
test = df2_pret[df2_pret['ds']>=cutoff]

In [ ]:
col_lst=df2_pret.columns
col_lst=col_lst.drop(['ds','y'])
col_lst=list(col_lst)
col_lst

['사설학원수',
 '매수우위지수',
 '입주물량',
 '가계대출금리',
 'UIG',
 '출퇴근량',
 '사설학원수_diff',
 '매수우위지수_diff',
 '입주물량_diff',
 '가계대출금리_diff',
 'UIG_diff',
 '출퇴근량_diff',
 '사설학원수_diff2',
 '매수우위지수_diff2',
 '입주물량_diff2',
 '가계대출금리_diff2',
 'UIG_diff2',
 '출퇴근량_diff2',
 'y_diff',
 'y_diff2']

In [ ]:
train.value_counts('ds')[:14]

ds
2015-01-01    2
2021-01-01    2
2018-01-01    2
2019-01-01    2
2011-01-01    2
2013-01-01    2
2020-01-01    2
2017-01-01    2
2012-01-01    2
2014-01-01    2
2010-01-01    2
2016-01-01    2
2009-01-01    2
2016-04-01    1
dtype: int64

In [ ]:
train= train.drop_duplicates('ds',keep='first')

In [ ]:
m = NeuralProphet(

growth='off', # 추세 유형 설정(linear, discontinuous, off 중 선택 가능)

yearly_seasonality=False, #년간 계절성 설정

weekly_seasonality=False, #주간 계절성 설정

batch_size=64,#배치 사이즈 설정

epochs=100,#학습 횟수 설정

learning_rate=0.1, # 학습률 설정

n_lags= 2, #lag를 2까지 사용하였으므로, lag를 2로 설정

num_hidden_layers=4, #히든 레이어 수 설정

d_hidden=8,#은닉층에 대한 차원 수 설정


)

#독립 변인(변수) 추가 및 정규화
m = m.add_lagged_regressor(names=col_lst, normalize="minmax")

#학습 수행
metrics = m.fit(train, validation_df=test, progress='plot')

NameError: ignored

In [ ]:
#metric 확인
print("SmoothL1Loss: ", metrics.SmoothL1Loss.tail(1).item())
print("MAE(Train): ", metrics.MAE.tail(1).item())
print("MAE(Test): ", metrics.MAE_val.tail(1).item())

SmoothL1Loss:  0.0010633871130398419
MAE(Train):  43.42242592501353
MAE(Test):  100.46378326416016